#containerCardRecipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.hidden {
  display: none;
}

#noResult {
  font-size: x-large;
}
