#containerCardRecipes {
}
.cardRecipe {
  width: 380px;
  height: 731px;
  /* height: 100%; */
  background-color: white;
  border-radius: 10px;
  transition: all 1s ease-out;
}
.recipeBanner {
  width: 100%;
  height: 253px;
}
.recipeBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.preperTime {
  background-color: yellow;
  width: 65px;
  height: 26px;
  border-radius: 14px;
  padding: 5px 15px 5px 5px;
  position: relative;
  top: -15rem;
  left: 18rem;
  font-family: var(--font-filter);
  display: flex;
  align-items: center;
  font-weight: 700;
}
.containerRecipe {
  margin: 2rem 1rem;
  color: grey;
  font-size: 12px;
}
.recipeTitle {
  margin: 2rem 0;
  color: black;
  font-size: 18px;
}
.descriptionRecipe {
  margin: 1rem 0;
}
.ingredientList {
  display: grid;
  grid-template-columns: 1fr 0 1fr;
  gap: 0 0.5rem;
  /* margin: 1rem 0; */
  /* display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;
  justify-content: space-between; */
}
.ingredient {
  margin: 0.5rem 0;
  font-weight: 400;
}
.ingredient h5 {
  font-size: 14px;
  font-weight: 500;
}
